body{
    text-align:center;
    padding:0px;
    margin:0px;
}
div#header{
    background-image: linear-gradient(to bottom, grey, blue);
    height: 20vh;
    padding:0px;
    margin:0px;
    border:none;
}
div#header>h1{
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    color:white;
}
div#content{
    border-top:10px solid darkblue;
    height:80vh;
    padding:0px;
    margin:0px;
    background-color:grey;
}
div#content>div{
    color:black;
    height:100%;
}
div#content>div>div{
    height: 100%;
}

div#menu{
    position:static;
    float:left;
    width:20%;
}
div#menu>div{
    text-align: center;
    border-right:1px solid black;   
}
div#menu>div{

}

div#configuraton{
    float:right;
    width:80%;    
    text-align: left;
    background-color:#D2D2D2;
}

div#configuraton>div{
    padding-left:1em;
}

div#configuraton>div>h2{
    padding:0px;
    margin:0px;
    margin-top:1em;
    background-image:linear-gradient(to left, #D2D2D2, #D2D2D2, grey);
    width:100%;
    color:white;
}
div#configuraton>div>h2+div{
    margin-top:3em;
    padding-left:1em;
}

ul{
    text-align: left;
    padding:0px;
    margin:0px;
    overflow-x:hidden;
    white-space:nowrap;
    width: 100%;
}

li{
    padding:0em 1em;
    margin:0.5em 0em;
    display:block;
    width:100%;
    background-color:#515151;
}

li:hover{
    color:#D2D2D2;
    width:90%;
}

a{
    color:white;
    text-decoration: none;
    font-size:1em;
}


div.conf{
    padding-bottom:1em;
}

div.conf>label{
    display:block;
    margin-right:1em;
}

div.conf>input{
    margin-left:2em;
}