[Unit]
Description="Network manager of Hristiyan Zarkov's Thesis for Technical University of Sofia"

[Service]
ExecStart=/app/start.sh
Type=simple

[Install]
WantedBy=multi-user.target
